<div style="text-align: center;">
  <h1 style="font-weight: 600px; font-size: 26px; color: #555;">
    Email Verification
  </h1>
  <p>Hey, Welcome to <strong>Notes</strong></p>
  <p>Please verify your email Address befor proceeding further</p>
  <a href="<%= verifyHref %>">Verified Your Email</a>
</div>
