<app-navbar></app-navbar>
<div class="my-form">
  <form
    class="signup-form"
    [formGroup]="forgetFormGroup"
    (ngSubmit)="forgetFormGroup.valid && forgetPassword()"
    novalidate
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>FORGET PASSWORD</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="email" formControlName="email" />
              <mat-error
                *ngIf="forgetFormGroup.controls['email'].hasError('required')"
              >
                email is <strong>Required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
